<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app='app'>
<div ng-controller='appCtrl'>

<form-directive></form-directive>
    <result-directive></result-directive>
<h1>this is index page</h1>
    {{sampleArray}}
</div>
<script type='text/javascript' src="/tiwari_apil_angularsecond/node_modules/angular/angular.js"></script>
<script type='text/javascript' src="/tiwari_apil_angularsecond/js/app.js"></script>
<script type='text/javascript' src="/tiwari_apil_angularsecond/js/controllers/appCtrl.js"></script>
<script type="text/javascript" src="/tiwari_apil_angularsecond/js/directives/formDirective.js"></script>
<script type="text/javascript" src="/tiwari_apil_angularsecond/js/directives/resultDirective.js"></script>
</body>
</html>